<div class="registerTemplate">
    <div class="registerField">
        <h2>Register</h2>
        <form action="/register" method="post">
            <label for="name">Enter name:</label>
            <input type="text" id="name" name="name" required>
            <label for="password">Enter a Password:</label>
            <input type="password" id="password" name="password" required>
            <label for="phoneNumber">Enter your phone number:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>
            <label for="email">Enter your email:</label>
            <input type="text" id="email" name="email" required>
            <button type="submit">Register</button>
            <p>Have an account? <a href="/login">Login</a>!</p>
        </form>
    </div>
    <img src="/images/registerImage.jpg" alt="registerImg">
</div>