<!-- <div>
  <img src="vetvault.png" alt="VetVault Logo">
  <h1>VetVault</h1>
</div>
<ul>
  <li><a href="/schedule">SCHEDULE</a></li>
  <li><a href="/prescriptions">PRESCRIPTIONS</a></li>
  <li><a href="/petlist">MY PETS</a></li>
  <li><a href="/homepage">HOME</a></li>
</ul> -->