<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VetVault</title>
  <link rel="stylesheet" href="/styling.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
  <header class="header">
    <div>
      <img src="/images/VetVault.png" alt="VetVault Logo">
      <h1>
        <a style="text-decoration: none; color: white;" href="/dashboard">VetVault</a>
      </h1>
    </div>
    <ul>
      <li><a href="/schedule">SCHEDULE</a></li>
      <li><a href="/prescriptions">PRESCRIPTIONS</a></li>
      <li><a href="/petIndex">MY PETS</a></li>
      <li><a href="/dashboard">HOME</a></li>
      <li><a href="/logout">LOG OUT</a></li>
    </ul>
  </header>

  <%- body %>
</body>

</html>
