<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<link rel="stylesheet" href="custom.css">

<script src="/socket.io/socket.io.js"></script>
<div id='calendar' style="width: 65%; height: 50%; margin: auto; padding: 30px"></div>
<style>

  .fc-button {
    background-color: #94D3AC;
    color: white;
    border-color: #94D3AC;
  }

  .fc-button.fc-button-primary {
    background-color: #94D3AC;
    border-color: #655C56;
  }

  .fc-button.fc-button-primary:active {
    background-color: #655C56;
  }

  .fc-button.fc-button-primary:hover {
    background-color: #94D3AC;
  }

  .wrap {
    white-space: normal !important;
    overflow: visible !important;
    height: auto !important; 
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        headerToolbar: {
            right: 'prev,next today',
            center: 'title',
            left: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        eventColor:'#94D3AC',
        events: JSON.parse('<%- JSON.stringify(schedule).replace(/\'/g, "\\\\'") %>'),
        eventDidMount: function(info) {
            $(info.el).addClass('wrap');
        }
    });

    calendar.render();
});
</script>

